<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyh.dao.usercollect.ZyhUserCollectMapper">
  <resultMap id="BaseResultMap" type="com.zyh.entity.usercollect.ZyhUserCollect">
    <id column="id" jdbcType="OTHER" property="id" />
    <result column="userid" jdbcType="OTHER" property="userid" />
    <result column="articleid" jdbcType="OTHER" property="articleid" />
    <result column="arttype" jdbcType="OTHER" property="arttype" />
    <result column="title" jdbcType="OTHER" property="title" />
    <result column="imgurl" jdbcType="OTHER" property="imgurl" />
    <result column="pubtime" jdbcType="OTHER" property="pubtime" />
    <result column="comtype" jdbcType="OTHER" property="comtype" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, userid, articleid, arttype, title, imgurl, pubtime, comtype
  </sql>
  <select id="selectByExample" parameterType="com.zyh.entity.usercollect.ZyhUserCollectExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zyh_user_collect
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zyh_user_collect
    where id = #{id,jdbcType=OTHER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from zyh_user_collect
    where id = #{id,jdbcType=OTHER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zyh.entity.usercollect.ZyhUserCollectExample">
    delete from zyh_user_collect
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zyh.entity.usercollect.ZyhUserCollect">
    insert into zyh_user_collect (id, userid, articleid, 
      arttype, title, imgurl, pubtime, 
      comtype)
    values (#{id,jdbcType=OTHER}, #{userid,jdbcType=OTHER}, #{articleid,jdbcType=OTHER}, 
      #{arttype,jdbcType=OTHER}, #{title,jdbcType=OTHER}, #{imgurl,jdbcType=OTHER}, #{pubtime,jdbcType=OTHER}, 
      #{comtype,jdbcType=OTHER})
  </insert>
  <insert id="insertSelective" parameterType="com.zyh.entity.usercollect.ZyhUserCollect">
    insert into zyh_user_collect
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="articleid != null">
        articleid,
      </if>
      <if test="arttype != null">
        arttype,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="imgurl != null">
        imgurl,
      </if>
      <if test="pubtime != null">
        pubtime,
      </if>
      <if test="comtype != null">
        comtype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=OTHER},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=OTHER},
      </if>
      <if test="articleid != null">
        #{articleid,jdbcType=OTHER},
      </if>
      <if test="arttype != null">
        #{arttype,jdbcType=OTHER},
      </if>
      <if test="title != null">
        #{title,jdbcType=OTHER},
      </if>
      <if test="imgurl != null">
        #{imgurl,jdbcType=OTHER},
      </if>
      <if test="pubtime != null">
        #{pubtime,jdbcType=OTHER},
      </if>
      <if test="comtype != null">
        #{comtype,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zyh.entity.usercollect.ZyhUserCollectExample" resultType="java.lang.Long">
    select count(*) from zyh_user_collect
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zyh_user_collect
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=OTHER},
      </if>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=OTHER},
      </if>
      <if test="record.articleid != null">
        articleid = #{record.articleid,jdbcType=OTHER},
      </if>
      <if test="record.arttype != null">
        arttype = #{record.arttype,jdbcType=OTHER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=OTHER},
      </if>
      <if test="record.imgurl != null">
        imgurl = #{record.imgurl,jdbcType=OTHER},
      </if>
      <if test="record.pubtime != null">
        pubtime = #{record.pubtime,jdbcType=OTHER},
      </if>
      <if test="record.comtype != null">
        comtype = #{record.comtype,jdbcType=OTHER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zyh_user_collect
    set id = #{record.id,jdbcType=OTHER},
      userid = #{record.userid,jdbcType=OTHER},
      articleid = #{record.articleid,jdbcType=OTHER},
      arttype = #{record.arttype,jdbcType=OTHER},
      title = #{record.title,jdbcType=OTHER},
      imgurl = #{record.imgurl,jdbcType=OTHER},
      pubtime = #{record.pubtime,jdbcType=OTHER},
      comtype = #{record.comtype,jdbcType=OTHER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zyh.entity.usercollect.ZyhUserCollect">
    update zyh_user_collect
    <set>
      <if test="userid != null">
        userid = #{userid,jdbcType=OTHER},
      </if>
      <if test="articleid != null">
        articleid = #{articleid,jdbcType=OTHER},
      </if>
      <if test="arttype != null">
        arttype = #{arttype,jdbcType=OTHER},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=OTHER},
      </if>
      <if test="imgurl != null">
        imgurl = #{imgurl,jdbcType=OTHER},
      </if>
      <if test="pubtime != null">
        pubtime = #{pubtime,jdbcType=OTHER},
      </if>
      <if test="comtype != null">
        comtype = #{comtype,jdbcType=OTHER},
      </if>
    </set>
    where id = #{id,jdbcType=OTHER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zyh.entity.usercollect.ZyhUserCollect">
    update zyh_user_collect
    set userid = #{userid,jdbcType=OTHER},
      articleid = #{articleid,jdbcType=OTHER},
      arttype = #{arttype,jdbcType=OTHER},
      title = #{title,jdbcType=OTHER},
      imgurl = #{imgurl,jdbcType=OTHER},
      pubtime = #{pubtime,jdbcType=OTHER},
      comtype = #{comtype,jdbcType=OTHER}
    where id = #{id,jdbcType=OTHER}
  </update>
</mapper>